{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Administration - Lieu -{{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
	<div class="page-header">
		<h1>Les Dresseurs <small>du Forum</small></h1>
	</div>
	{% for dresseur in dresseurs %}
		<div class="bloc bloc-liste-admin">
			{{ dresseur.prenom ~ dresseur.nom }}
                        <a href="{{ path('pr2dresseur_voir', {'id': dresseur.getId()}) }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a>
                        {# Admin ou Sois-même seulement #}
			{#<a href="{{ path('pr2lieu_modifier', {'id': lieu.getId()}) }}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="{{ path('pr2lieu_supprimer', {'id': lieu.getId()}) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>#}
		</div>
	{% endfor %}
	<hr />
	<p>
	    <a href="{{ path('pr2forum_accueil') }}" class="btn btn-default">
	    	<span class="glyphicon glyphicon-chevron-left"></span>
	    	Retour au Forum
	    </a>
	    <a href="{{ path('pr2dresseur_ajouter') }}" class="btn btn-success">
	    	<span class="glyphicon glyphicon-plus"></span>
	    	Ajouter
	    </a>
  	</p>
{% endblock %}