<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pokémon Revolution 2.0{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('foundation/css/foundation.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
            {% stylesheets '@PR2CommonBundle/Resources/public/less/main.less' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
            <script src="{{ asset('foundation/js/vendor/modernizr.js') }}"></script>
            <script src="{{ asset('foundation/js/vendor/fastclick.js') }}"></script>
            <script src="{{ asset('foundation/js/vendor/jquery.cookie.js') }}"></script>

            {% javascripts '@PR2CommonBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    if ($.cookie('PR2ImageFond') === undefined) {
                        $.cookie('PR2ImageFond', '{{asset("images/default.jpg")}}', { expires: 365, path: '/' });
                    }
                    $("body").css("background-image", "url(" + $.cookie('PR2ImageFond') + ')');
                });
            </script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="off-canvas-wrap" data-offcanvas>
                <div class="inner-wrap">
                    <nav class="tab-bar">
                        <section class="left-small">
                            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                        </section>

                        <section class="middle tab-bar-section">
                            <h1 class="title">Pokémon Revolution 2.0</h1>
                        </section>

                        <section class="right-small">
                            <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
                        </section>
                    </nav>

                    <aside class="left-off-canvas-menu">
                        <ul class="off-canvas-list">
                            {% spaceless %}
                            <li><label>Forum</label></li>
                            <li><a href="#"><i class="fa fa-user"></i> Profil</a></li>
                            {% endspaceless %}
                        </ul>
                    </aside>

                    <aside class="right-off-canvas-menu">
                        <ul class="off-canvas-list">
                            {% spaceless %}
                            <li><label>Membres</label></li>
                            <li>
                                <a href="#">
                                    <img class="avatar small online" src="{{ gravatar('frebourd@hotmail.com') }}" /> D1amond
                                </a>
                            </li>
                            {% endspaceless %}
                        </ul>
                    </aside>

                    <section class="main-section">
                        <ul class="breadcrumbs">
                            {% spaceless %}
                                {% block breadcrumb %}{% endblock %}
                            {% endspaceless %}
                        </ul>
                        {% block content %}{% endblock %}
                    </section>

                    <a class="exit-off-canvas"></a>
                </div>
            </div>

            <script type="text/javascript" src="{{ asset('foundation/js/foundation.min.js') }}"></script>
            <script>
                $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>
