{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
    Supprimer un Sujet - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
 
    <h2>Supprimer un Sujet</h2>
 
    <div class="alert alert-warning">
        Etes-vous certain de vouloir supprimer le Sujet "{{ sujet.titre }}" ?
    </div>
    {% if sujet.dresseurs|length > 0 %}
        <div class="alert alert-danger">
            Les messages suivants seront supprimés:
            <ul>
                {% for message in sujet.messages %}
                    <li>{{ dresseur.getIdentifiant() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {# On met l'id du sujet dans la route de l'action du formulaire #}
    <form action="{{ path('pr2sujet_supprimer', {'id': sujet.id}) }}" method="post">
        <a href="{{ path('pr2sujet_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Retour à l'index
        </a>
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {{ form_rest(form) }}
    </form>
 
{% endblock %}