{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Administration - Region -{{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
	<div class="page-header">
		<h1>Les Régions <small>Administration</small></h1>
	</div>
	{% for region in regions %}
		<div class="bloc bloc-liste-admin">
			<b>{{ region.getNom() }}</b>
			<a href="{{ path('pr2region_voir', {'id': region.getId()}) }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a>
			<a href="{{ path('pr2region_modifier', {'id': region.getId()}) }}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="{{ path('pr2region_supprimer', {'id': region.getId()}) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
		</div>
	{% endfor %}
	<div class="bloc">
		<a href="{{ path('pr2region_ajouter') }}" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter</a>
	</div>
	<hr />
	<p>
	    <a href="{{ path('pr2admin_index') }}" class="btn btn-default">
	    	<span class="glyphicon glyphicon-chevron-left"></span>
	    	Retour au Carrefour
	    </a>
  	</p>
{% endblock %}