{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}
 
{% extends "SdzBlogBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}
 
{% block sdzblog_body %}
 
  <h2>{{ article.titre }}</h2>
  <i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>
 
  <div class="well">
    {{ article.contenu }}
  </div>
 
  <p>
    <a href="{{ path('sdzblog_accueil') }}" class="btn btn-default">
      <span class="icon-chevron-left"></span>
      Retour à la liste
    </a>
    <a href="{{ path('sdzblog_modifier', {'id': article.id}) }}" class="btn btn-default">
      <span class="icon-edit"></span>
      Modifier l'article
    </a>
    <a href="{{ path('sdzblog_supprimer', {'id': article.id}) }}" class="btn btn-default">
      <span class="icon-trash"></span>
      Supprimer l'article
    </a>
  </p>
 
{% endblock %}