{% extends "PR2CoreBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="page-header">
  <h1>{{ user.username }} <small>Profil de membre</small></h1>
</div>

<div class="row">
	<div class="col-md-2">
		{% if user.image != null %}
            <img src="{{ asset(user.image.getWebPath()) }}" class="img-thumbnail">
        {% else %}
            <img src="{{ asset('images/defaut.jpg') }}" class="img-thumbnail">
        {% endif %}
	</div>
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-body">
			    <p>Identifiant: {{ user.username }}</p>
			    <p>Email: {{ user.email }}</p>
		    </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Dresseurs</div>
			<div class="panel-body">
				{% for dresseur in user.dresseurs %}
					<div class="well well-sm">
						<img src="{{ asset(dresseur.image.getWebPath()) }}" class="img-thumbnail">
						<p class="label label-default">{{ dresseur }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock fos_user_content %}
