{# src/PR2/ForumBundle/Resources/views/Forum/index.html.twig #}
 
{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
    <div class="panel-group" id="accordion">
        {% for region in regions %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' ~ region.getId()}}">
                        {{ region.getNom() }}
                    </a>
                </h4>
            </div>
            <div id="{{'collapse' ~ region.getId()}}" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="container-lieu">
                        {% for lieu in region.getLieux() %}
                            <div class="bloc bloc-lieu">
                                <div class="tab-content">
                                    <div id="sommaire{{ lieu.id }}" class="tab-pane fade active in">
                                        {% if lieu.nomImage == "defaut.png" %}
                                            <img src="{{asset('images/Lieux/defaut.png')}}" alt="Image de {{lieu.nom}}" />
                                        {% else %}
                                            <img src="{{ asset(lieu.getUploadDir() ~ '/' ~ lieu.nomImage) }}" alt="Image de {{lieu.nom}}" />
                                        {% endif %}
                                        <br>
                                        <a href="{{ path('pr2forum_voirLieu', {'id': lieu.id}) }}" class="btn btn-primary btn-lg">{{ lieu.nom }}</a>
                                        <hr>
                                        <span class="badge badge-default">{{ lieu.getSujets()|length }}</span> Sujets - <span class="badge badge-default">{{ lieu.getTotalMessages() }}</span> Messages - <span class="badge badge-default">{{ lieu.getDresseurs()|length }}</span> Dresseurs
                                        <hr>
                                        <h4>Activité Récente</h4>
                                        <p>
                                            {% if lieu.sujets|length > 0 %}
                                                <a href="{{ path('pr2forum_voirSujet', {'id': lieu.getDernierSujet().getId()}) }}">{{lieu.getDernierSujet().getTitre()}}</a> | {{lieu.getDernierSujet().getDateCreation()|date('Y-m-d')}} | Par <a href="#" class="label label-default">{{ lieu.getDernierSujet().getDernierMessage().getAuteur().getPrenom() }}</a>
                                            {% else %}
                                                Aucune activité récente!
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div id="pokemons{{ lieu.id }}" class="tab-pane fade">
                                        <h4>Pokémons Sauvages</h4>
                                        <div class="bloc-lieu-overflow">
                                            <table class="table table-hover">
                                                <tr>
                                                    <td colspan="3"><img src="{{asset('images/Icons/morning.png')}}"> En Marchant - Matin</td>
                                                </tr>
                                                <tr>
                                                    <td>Pokémon</td>
                                                    <td>Niveau</td>
                                                    <td>Rareté</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="{{ asset('images/Pokemons/Mini-Fixe/1.png')}}"></td>
                                                    <td>2 à 5</td>
                                                    <td>50%</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="{{ asset('images/Pokemons/Mini-Fixe/10.png')}}"></td>
                                                    <td>3 à 5</td>
                                                    <td>50%</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3"><img src="{{asset('images/Icons/day.png')}}"> En Marchant - Jour</td>
                                                </tr>
                                                <tr>
                                                    <td>Pokémon</td>
                                                    <td>Niveau</td>
                                                    <td>Rareté</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="{{ asset('images/Pokemons/Mini-Fixe/1.png')}}"></td>
                                                    <td>2 à 5</td>
                                                    <td>50%</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="{{ asset('images/Pokemons/Mini-Fixe/10.png')}}"></td>
                                                    <td>3 à 5</td>
                                                    <td>25%</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="{{ asset('images/Pokemons/Mini-Fixe/11.png')}}"></td>
                                                    <td>6 à 8</td>
                                                    <td>25%</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="stats{{ lieu.id }}" class="tab-pane fade">
                                        <h4>Statistiques</h4>
                                    </div>
                                </div>
                                <div class="bloc-footer">
                                    <ul class="nav nav-pills nav-justified" id="tabLieu">
                                        <li class="active"><a href="#sommaire{{ lieu.id }}" data-toggle="pill"><span class="glyphicon glyphicon-list"></span> Sommaire</a></li>
                                        <li><a href="#pokemons{{ lieu.id }}" data-toggle="pill"><span class="glyphicon glyphicon-tower"></span> Pokémons</a></li>
                                        <li><a href="#stats{{ lieu.id }}" data-toggle="pill"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}