{# src/PR2/ForumBundle/Resources/views/Forum/voirLieu.html.twig #}
 
{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  {{ lieu.getNom() }} - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
<div class="page-header">
    <h1>{{ lieu.getNom() }}</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="forum-page-header">
            <a href="{{ path('pr2sujet_ajouter', {'lieu': lieu.id}) }}" class="btn btn-success">Nouveau Sujet</a>
        </div>
    </div>
</div>
{% for sujet in lieu.getSujets() %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container-sujet">
                {# Images des Dresseurs #}
                <div class="container-sujet-membre">
                    <a href="{{ path('pr2forum_voirSujet', {'id': sujet.id}) }}" class="btn btn-link btn-lg"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ sujet.getTitre() }}</a> <br>
                    {% for dresseur in sujet.dresseurs if dresseur.image != null %}
                        <div class="bloc">
                            <img src="{{ asset(dresseur.image.getWebPath()) }}" alt="{{ dresseur }}" title="{{ dresseur }}" />
                        </div>
                    {% endfor %}
                </div>
              
                <table class="table">
                    <tr>
                        <th>Créé Par</th>
                        <th>Messages</th>
                        <th>Vues</th>
                        <th>Dernier Message <a href="{{ path('pr2forum_voirSujet', {'id': sujet.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-new-window"></span></a></th>
                    </tr>
                    <tr>
                        <td><span class="label label-default">{{sujet.auteur}}</span></td>
                        <td>{{ sujet.getMessages|length }}</td>
                        <td></td>
                        <td>
                            Par <span class="label label-default">{{ sujet.getDernierMessage().auteur }}</span>
                            | {{ sujet.getDernierMessage().getDateCreation|date('Y-m-d h:i') }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  {% endfor %}
  <p>
    <a href="{{ path('pr2forum_accueil') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Retour à l'index
    </a>
  </p>
{% endblock %}
