{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Membres - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}

<div class="page-header">
    <h2>Nos Membres</h2>
</div>
<div class="voirMembres-container">
    <div class="row">
        <div class="col-md-12">
            {% for membre in membres %}
                <div class="bloc bloc-membre">
                    <div class="bloc-membre-standard">
                        <div class="membre-nav">
                            <a href="" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-user"></span> Profil</a>
                            <a href="" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-book"></span> Journal</a>
                            <a href="" id="{{'btn-expend'}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                        {% if membre.image != null %}
                            <img src="{{ asset(membre.image.getWebPath()) }}">
                        {% else %}
                            <img src="{{ asset('images/defaut.jpg') }}">
                        {% endif %}
                        <h4>{{ membre.username }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btn-expend").click(function(){
        $("#bloc-membre-extended").animate({width: 'toggle'});
    });
</script>
{% endblock %}