{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Sujet - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
    <div class="page-header">
        <h2>{{sujet.titre}} <small>Créé le {{sujet.dateCreation|date('Y-m-d')}}</small></h2>
    </div>
    <div class="row">
        <div class="col-md-9">
            <a href="" class="btn btn-default"><span class="glyphicon glyphicon-flag"></span> Suivre</a>
            <a href="{{ path('pr2message_repondre', {'sujet': sujet.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Répondre</a>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    {% for message in sujet.getMessages() %}
        <div class="bloc bloc-message">
            <div class="row">
                <div class="col-md-3">
                    <div class="message-info">
                        {% if message.auteur.image != null %}
                            <img src="{{ asset(message.auteur.image.getWebPath()) }}" class="img-dresseur" alt="{{ message.auteur }}" title="{{ message.auteur }}" />
                        {% endif %}
                        <h4>{{ message.auteur }}</h4>
                        <div>
                            {# for pokemon in message.auteur.team #}
                            <div class="pkmn-holder-sm">
                                <img src="{{ asset('images/Pokemons/Mini-Fixe/3.png') }}" title="Venusaur">
                            </div>
                            <div class="pkmn-holder-sm">
                                <img src="{{ asset('images/Pokemons/Mini-Fixe/10.png') }}" title="Caterpie">
                            </div>
                        </div>
                        <div>
                            <h6>Aventure débutée le {{ message.auteur.dateCreation|date('Y-m-d') }}</h6>
                            <h6>Messages créés <span class="badge badge-default">{{ message.auteur.messages|length }}</span></h6>
                        </div>
                        <div class="message-info-footer">
                            <a href="" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-envelope"></span></a>
                            <a href="" class="btn btn-info btn-sm">Carte Dresseur</a>
                            <a href="" class="btn btn-default btn-sm">Journal</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="message-texte-entete">
                        <h4>
                            {% if message.isModifie() %}
                                <small>Créé le {{ message.dateCreation|date('Y-m-d h:i') }}</small>
                            {% else %}
                                <small>Modifié le {{ message.dateMod|date('Y-m-d h:i') }}</small>
                            {% endif %}
                            {% if user != null and user.id == message.auteur.membre.id %}
                                <a href="{{ path('pr2message_modifier', {'message': message.id}) }}" class="btn btn-xs btn-warning">Modifier</a>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="message-texte">
                        <p>{{ message.texte|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <p>
        <a href="{{ path('pr2forum_voirLieu', {'id': sujet.lieu.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Retour à {{ sujet.lieu.nom }}
        </a>
    </p>
{% endblock %}