{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Administration - Lieu -{{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
    <div class="page-header">
        <h1>Les Lieux <small>Administration</small></h1>
    </div>
    {% for lieu in entities %}
        <div class="bloc bloc-liste-admin">
            {{ lieu.getNom() }}
            <a href="{{ path('pr2lieu_voir', {'id': lieu.getId()}) }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a>
            <a href="{{ path('pr2lieu_modifier', {'id': lieu.getId()}) }}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{{ path('pr2lieu_supprimer', {'id': lieu.getId()}) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    {% endfor %}
    <div class="bloc">
        <a href="{{ path('pr2lieu_ajouter') }}" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter</a>
    </div>
    <hr />
    <p>
        <a href="{{ path('pr2admin_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Retour au Carrefour
        </a>
    </p>
{% endblock %}