{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Supprimer un lieu - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
 
    <h2>Supprimer un Lieu</h2>
 
    <div class="alert alert-warning">
        Etes-vous certain de vouloir supprimer le Lieu "{{ entity.nom }}" ?
    </div>
    {% if entity.sujets|length > 0 %}
        <div class="alert alert-danger">
            Les Sujets suivants seront archivés:
            <ul>
                {% for sujet in entity.sujets %}
                    <li>{{ sujet.getTitre() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {# On met l'id du lieu dans la route de l'action du formulaire #}
    <form action="{{ path('pr2lieu_supprimer', {'id': entity.id}) }}" method="post">
        <a href="{{ path('pr2lieu_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Retour à l'index
        </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
 
{% endblock %}